database-username=REPLACE_WITH_LOCAL_DATABASE_USERNAME
database-password=REPLACE_WITH_LOCAL_DATABASE_PASSWORD
doctor-username=REPLACE_WITH_LOCAL_DOCTOR_USERNAME
doctor-password=REPLACE_WITH_LOCAL_DOCTOR_PASSWORD
